scss/.sass-cache
bower_components
.bower-cache
.bower-registry
.bower-tmp
.idea/
_book
nbproject
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradel/
*.log
npm-debug.log
node-modules
.DS-Store
**/.DS-Store
*.map
.greyhr
Thumbs.db
sftp-config.json
*.sublime-project
*.sublime-workspace